extends layout

block content
  section.signin-container
    a.header(href='#', title='AdminFlare')
        img(src='images/af-logo-signup.png', alt='Sign in to Admin Flare')
        span
          | Sign in to
          br
          strong MyWebClass
      form(action='login', method='post', accept-charset='utf-8')
        fieldset
          .fields
            input#id_username(type='text', name='username', placeholder='Username', tabindex='1')
            input#id_password(type='password', name='password', placeholder='Password', tabindex='2')
          a.forgot-password(href='#', title='', tabindex='3') Forgot?
          button.btn.btn-primary.btn-block(type='submit', tabindex='4') Sign In